<!DOCTYPE html>
<html>
	<head>
		{% assign title = "Info" %}
		{% include head %}
	</head>

	<body>
		<nav class="breadcrumb">
			<ul>
				<li><a href="./">Info</a></li>
			</ul>
		</nav>

		<nav>
			<ul>
				<li><a href="news.html">News</a></li>
				<li><a href="music.html">Music</a></li>
				<li><a href="course.html">Courses</a></li>
				<li><a href="special.html">Special stages</a></li>
			</ul>
		</nav>
	</body>
</html>
