body {
	margin: 0px;
}

#special-table {
	font-size: 16px;
	th, td {
		padding: 5px;
	}
	th {
		color: #897248;
	}
	tr {
		border-bottom: 1px solid black;
	}
	border-collapse: collapse;
	table-layout: fixed;
	thead {
		top: 0px;
		position: sticky;
		background: linear-gradient(to top, #fcd499, #fff4c3);
		z-index: 10;
		tr {
			border-bottom: 2px solid black;
		}
		th {
			user-select: none;
		}
	}

	width: 100%;
	min-width: 400px;
	.col-phase {
		width: 13%;
	}
	.col-step {
		width: 12%;
	}
	.col-hp {
		width: 12%;
	}
	.col-music {
		width: 63%;
	}

	.version {
		color: #e96e00;
	}

	.musics {
		ul {
			margin-top: 0px;
			margin-bottom: 0px;
			padding-left: 20px;
		}
		li::marker {
			content: "";
		}
	}

	.music {
		color: #e96e00;
		&.chaos {
			color: #4b4b9d;
		}
		text-decoration: none;
	}

	.phase, .step, .hp {
		color: #867251;
		text-align: center;
	}
}
