body {
	padding-bottom: 80px;
}

#title {
	font-size: 48px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #e96e00;
	width: 100%;
	border-bottom: 1px solid #e96e00;
	&.chaos {
		color: #4b4b9d;
	}
}

.alt-version {
	font-size: 14px;
	width: 100%;
	text-align: right;
	a {
		color: #e96e00;
	}
	&.chaos a {
		color: #4b4b9d;
	}
}

.music-info {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	padding: 20px;
	border: 4px solid #8c6e42;
	border-radius: 30px;
	background: #66221112;

	dt {
		color: #583318;
		font-size: 20px;
		border-bottom: 2px solid;
		border-image: linear-gradient(to right, #8c6e42, transparent) 1%;
		width: 200px;
	}

	dd {
		font-size: 20px;
		margin-left: auto;
		width: fit-content;
		margin-top: 5px;
		margin-bottom: 10px;

		&#id {
			color: #897248;
		}
		&#name, &#artist {
			color: #e96e00;
			&.chaos {
				color: #4b4b9d;
			}
		}

		.category {
			margin-left: 10px;
			color: #583318;
			&.chaos {
				color: #4b4b9d;
				text-transform: uppercase;
			}
			&.boost {
				background: linear-gradient(to top, #188800, #3cff27);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				text-transform: uppercase;
				&::after {
					content: "!";
					user-select: none;
				}
			}
		}

		&#duration {
			color: #583318;
		}
	}
}

.stages {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	font-size: 20px;
	color: #583318;
	.special {
		background: linear-gradient(to top, #a60202, #ffb4bb);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.music {
		color: #e96e00;
		&.chaos {
			color: #4b4b9d;
		}
		text-decoration: none;
	}
	.secret-highlight {
		color: #808080;
	}
}

#charts-table {
	table-layout: fixed;
	width: 100%;
	margin-top: 20px;

	.chart-cell {
		text-align: center;
		width: 20%;
	}

	.chart {
		display: inline-block;
		text-align: center;
		font-size: 20px;
		.difficulty {
			font-size: 16px;
			text-transform: uppercase;
		}
		a {
			text-decoration: none;
			color: inherit;
		}

		&.easy {
			.level {
				color: #260eff;
			}
			.difficulty {
				color: #006ee9;
			}
		}

		&.normal {
			.level {
				color: #ff720e;
			}
			.difficulty {
				color: #e96e00;
			}
		}

		&.hard {
			.level {
				color: #ff0e2a;
			}
			.difficulty {
				color: #e9005d;
			}
		}

		&.extra {
			.level {
				color: #920eff;
			}
			.difficulty {
				color: #ad1dba;
			}
		}

		&.extra-plus {
			.level {
				color: #920eff;
			}
			.difficulty {
				background: linear-gradient(to top, #547eaf, #804eb4);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		&.chaos {
			.level {
				color: #5659b7;
			}
			.difficulty {
				color: #1f2022;
			}
		}

		&.chaos-plus {
			.level {
				color: #5659b7;
			}
			.difficulty {
				background: linear-gradient(to top, #162138, #082358);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	.note-count-cell {
		width: 5%;
		font-size: 16px;
		color: #583318;
	}

	.chart-unlock-condition {
		font-size: 16px;
		color: #583318;
		.music {
			color: #e96e00;
			&.chaos {
				color: #4b4b9d;
			}
			text-decoration: none;
		}

		.course {
			color: #e96e00;
		}

		.difficulty {
			text-transform: uppercase;
			&.easy {
				color: #006ee9;
			}
			&.normal {
				color: #e96e00;
			}
			&.hard {
				color: #e9005d;
			}
			&.extra {
				color: #ad1dba;
			}
			&.extra-plus {
				background: linear-gradient(to top, #547eaf, #804eb4);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			&.chaos {
				color: #1f2022;
			}
			&.chaos-plus {
				background: linear-gradient(to top, #162138, #082358);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.level {
			color: #e96e00;
		}

		.rank {
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			&.d {
				background-image: linear-gradient(to top, #70b8c8, #2942a0);
			}
			&.c {
				background-image: linear-gradient(to top, #91e5ff, #000dea);
			}
			&.b {
				background-image: linear-gradient(to top, #d993ff, #dd27ef);
			}
			&.a {
				background-image: linear-gradient(to top, #ff9696, #ec1414);
			}
			&.s {
				background-image: linear-gradient(to top, #ba8b26, #ffff79, #9a6c22);
			}
			&.s-plus {
				background-image: linear-gradient(to top, #75a7fd, #d8d8ee, #a2e7f8);
			}
		}

		.state {
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			&.failed {
				background-image: linear-gradient(to top, #74cae5, #18399f);
			}
			&.clear {
				background-image: linear-gradient(to top, #ffda6e, #eb4b00);
			}
			&.hc {
				background-image: linear-gradient(to top, #f15155, #ffa9a2);
			}
			&.fc {
				background-image: linear-gradient(to top, #3f1000, #ffd651, #714913);
			}
			&.ap {
				background-image: linear-gradient(to top, #8745fd, #f1cde9, #a38efb);
			}
		}
	}
}

.streaming-source {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	iframe {
		width: 100%;
		height: 300px;
	}
}

.streaming-source-notice {
	color: gray;
	margin-bottom: 20px;
	text-align: right;
	font-size: 14px;
	a {
		color: inherit;
	}
}

#bgm {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #643916;
}

#progress-bar {
	position: relative;
	top: 0;
	width: 100%;
	height: 10px;
	background: #ccc;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: var(--progress);
		height: 100%;
		background: #f0963c;
	}
}

.bgm-controls {
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
}

#play-button {
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: conic-gradient(#f0963c var(--download), #fcbc5e 0deg);
	cursor: pointer;
	position: relative;
	margin-left: 30px;
	margin-right: 20px;
	&::before {
		content: "";
		width: 40px;
		height: 40px;
		z-index: 1;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M8 5v14l11-7z'/%3E%3C/svg%3E");
	}
	&.playing::before {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M6 6h4v12H6zM14 6h4v12h-4z'/%3E%3C/svg%3E");
	}
}

#progress-text {
	width: 100%;
	color: white;
}

.input-checkbox {
	display: none;
	+ label {
		font-size: 18px;
		padding: 0px 8px;
		margin: 5px 8px;
		display: inline-block;
		border-radius: 3px;
		user-select: none;
		background: #937b67;
		color: #c6b696;
		.input-checkbox:checked + & {
			background: white;
			color: #897248;
		}
		border: 1px solid #856841;
		&:hover {
			filter: brightness(1.1);
		}
		&:active {
			filter: brightness(0.9);
		}
	}
}

.input-range {
	margin-left: 40px;
	margin-right: 20px;
	accent-color: #af591a;
	width: 90px;
	&::before {
		content: url('data:image/svg+xml,%3Csvg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
		position: fixed;
		transform: translate(-30px, -4px);
	}
}
