@font-face {
	font-family: 'Light Novel POP V2';
	src: url(../assets/LightNovelPOPv2.otf) format("opentype");
}
body, input, textarea, button {
	font-family: 'Light Novel POP V2', sans-serif;
}
body {
	background: #fffdeb;
	&:has(> .breadcrumb) {
		margin-top: 0px;
		padding-top: 45px; /* Height of the breadcrumb */
	}
}

.hidden {
	display: none;
}

.coin {
	color: #eccd02;
	&::before {
		content: url(../assets/coin.svg);
		margin-right: 5px;
		display: inline-block;
		vertical-align: middle;
	}
}

.rss::before {
	content: url(../assets/rss.svg);
}

.breadcrumb {
	padding: 10px 16px;
	margin-top: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 100;
	background-image: linear-gradient(to right, #e75800, #e7580000);
	color: white;
	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
	}
	li {
		display: inline;
		font-size: 18px;
		+ li:before {
			padding: 8px;
			content: ">";
			color: #fcd499;
		}
	}
	a {
		color: inherit;
		text-decoration: none;
	}
}
