body {
	margin: 0px;
}

#music-table {
	font-size: 16px;
	th, td {
		padding: 5px;
	}
	th {
		color: #897248;
	}
	tr {
		border-bottom: 1px solid black;
	}
	border-collapse: collapse;
	table-layout: fixed;
	thead {
		top: 0px;
		position: sticky;
		background: linear-gradient(to top, #fcd499, #fff4c3);
		z-index: 10;
		tr {
			border-bottom: 2px solid black;
		}
		th {
			user-select: none;
			&.sort-ascending::after {
				content: "\2193"; /* down arrow */
			}
			&.sort-descending::after {
				content: "\2191"; /* up arrow */
			}
			&.sort-ascending::after, &.sort-descending::after {
				margin-left: 10px;
			}
		}
	}

	width: 100%;
	min-width: 800px;
	.col-id {
		width: 8%;
	}
	.col-preview {
		width: 5%;
	}
	.col-name {
		max-width: 27%;
	}
	.col-artist {
		max-width: 20%;
	}
	.col-charts {
		min-width: 40%;
	}

	.name, .artist {
		color: #e96e00;
	}
	.name.chaos, .artist.chaos {
		color: #4b4b9d;
	}
	.name.boost, .artist.boost {
		color: #0026e9;
	}

	.preview-button {
		display: flex;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: conic-gradient(#f78935 var(--progress), #ffe89a 0deg);
		cursor: pointer;
		position: relative;
		&::before, &::after {
			content: "";
			width: 20px;
			height: 20px;
			border-radius: 50%;
			display: block;
			position: absolute;
			inset-inline-start: 50%;
			inset-block-start: 50%;
			transform: translate(-50%, -50%);
		}
		&::after {
			background: conic-gradient(#f0963c var(--download), #fcbc5e 0deg);
		}
		&::before {
			z-index: 1;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M8 5v14l11-7z'/%3E%3C/svg%3E");
		}
		&.playing::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Crect x='6' y='6' width='12' height='12' fill='white'/%3E%3C/svg%3E");
		}
	}

	#global-preview-button {
		position: relative;
		width: 30px;
		&::before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23897248' d='M8 5v14l11-7z'/%3E%3C/svg%3E");
			width: 20px;
			height: 20px;
			display: block;
			position: absolute;
			inset-inline-start: 50%;
			inset-block-start: 50%;
			transform: translate(-50%, -50%);
		}
		&.playing::before {
			cursor: pointer;
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Crect x='6' y='6' width='12' height='12' fill='%23897248'/%3E%3C/svg%3E");
		}
	}

	.chart {
		display: inline-block;
		text-align: center;
		.difficulty {
			font-size: 10px;
			text-transform: uppercase;
		}
	}

	.chart.easy {
		.level {
			color: #260eff;
		}
		.difficulty {
			color: #006ee9;
		}
	}

	.chart.normal {
		.level {
			color: #ff720e;
		}
		.difficulty {
			color: #e96e00;
		}
	}

	.chart.hard {
		.level {
			color: #ff0e2a;
		}
		.difficulty {
			color: #e9005d;
		}
	}

	.chart.extra {
		.level {
			color: #920eff;
		}
		.difficulty {
			color: #ad1dba;
		}
	}

	.chart.extra-plus {
		.level {
			color: #920eff;
		}
		.difficulty {
			background: linear-gradient(to top, #547eaf, #804eb4);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	.chart.chaos {
		.level {
			color: #5659b7;
		}
		.difficulty {
			color: #1f2022;
		}
	}

	.chart.chaos-plus {
		.level {
			color: #5659b7;
		}
		.difficulty {
			background: linear-gradient(to top, #162138, #082358);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

.filter-wrapper {
	position: fixed;
	right: 0px;
	bottom: 0px;
	margin: 10px;
	width: min(500px, 100% - 20px); /* 20px is twice margin */

	.filter {
		width: auto;
		height: fit-content;
		overflow: auto;
		border-radius: 5px;
		border: 5px solid #eac250;
		background: #ffffffcc;
		padding: 10px;
		margin-bottom: 10px;
	}
	.filter-section-title {
		font-size: 20px;
		color: #583318;
		padding-bottom: 3px;
		margin-bottom: 8px;
		margin-top: 5px;
		border-bottom: 1px solid #7a5835;
		text-transform: uppercase;
	}
	.filter-checkbox {
		display: none;
	}
	.filter-label, .filter-input {
		font-size: 18px;
		padding: 0px 8px;
		margin: 5px 8px;
		display: inline-block;
		border-radius: 3px;
		border-top: 1px solid #b19e8d;
		border-left: 1px solid #977951;
		border-right: 1px solid #987a51;
		border-bottom: 1px solid #856841;
		&:hover {
			filter: brightness(1.1);
		}
	}
	.filter-input {
		width: min(100% - 36px, 500px);
		background: #715d4c;
		color: white;
		display: inline-block;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: #888888;
		}
	}
	.filter-label {
		user-select: none;
		background: #937b67;
		color: #c6b696;
		.filter-checkbox:checked + & {
			background: white;
			color: #897248;
		}
		&:active {
			filter: brightness(0.9);
		}
	}

	.filter-button-wrapper {
		width: fit-content;
		height: fit-content;
		margin-left: auto;
		border-radius: 5px;
		border-top: 1px solid #b19e8d;
		border-left: 1px solid #977951;
		border-right: 1px solid #987a51;
		border-bottom: 1px solid #856841;
		background: linear-gradient(to top, #bfebff, #fafdff);
		&:has(.filter-button:hover) {
			filter: brightness(1.1);
		}
		&:has(.filter-button:active) {
			filter: brightness(0.9);
		}
	}
	.filter-button {
		width: 100px;
		height: 40px;
		font-size: 20px;
		border-radius: 3px;
		border-top: 1px solid #7c6547;
		border-left: 1px solid #917858;
		border-right: 1px solid #8f7958;
		border-bottom: 1px solid #9a8d7e;
		margin: 1px;
		background: linear-gradient(to top, #3a84ca, #003070);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
