body {
	margin: 0px;
}

#main-table {
	td {
		text-align: center;
	}

	min-width: 500px;
	.col-version {
		width: 30%;
	}
	.col-id {
		width: 20%;
	}
	.col-name {
		width: 15%;
	}
	.col-reward {
		width: 20%;
	}
	.col-gauge {
		width: 15%;
	}

	.version {
		color: #e96e00;
	}

	.name {
		background-image: linear-gradient(to top, #90e4ff, #0005e9);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		&.level-9, &.level-10 {
			background-image: linear-gradient(to top, #ff8e8e, #e90000);
		}
		&.level-11 {
			background-image: linear-gradient(to top, #d39325, #efc33a, #d39426);
		}
		&.level-12 {
			background-image: linear-gradient(to top, #719dff, #dcd1ff, #62ccff);
		}
		&.level-13 {
			background-image: linear-gradient(to top, #f19bdb, #f0c7ff, #a490ff);
		}
	}

	.gauge {
		color: #867251;
	}
}
