.news {
	border: 3px solid #a28046;
	border-radius: 2px;
	background: #00000011;
	padding: 20px;
	margin: 20px;
	width: min(800px, 100% - 80px);

	.news-header {
		border: 3px solid #948570;
		border-radius: 6px;
		width: min(500px, 100% - 30px);
		padding-left: 20px;
		padding-right: 10px;
	}
	.news-title {
		font-size: 20px;
		display: inline-block;
		color: #e9002e;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.news-date {
		color: #e96e00;
		font-size: 20px;
		float: right;
	}
	.news-list {
		font-size: 18px;
	}
	.news-item {
		color: #412300;
		.music {
			color: #e96e00;
			&.chaos {
				color: #4b4b9d;
			}
		}
	}
}
